@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.full-height {
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

body.light {
  background-color: #f3e9e9bd;
  color: #090909f5;
}

body.dark {
  background-color: #090909f5;
  color: #f3e9e9bd;
}

